body{
  background-image: url(https://images.unsplash.com/photo-1575037614876-c38a4d44f5b8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-repeat: no-repeat;
  background-size: 2610px, 1740px;
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
  background-color: #222222;
	color: #f5f6f7;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

em {
  font-size: 12px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

form {
  border-radius: 10px;
  background-color: #000000AA;
  width: 60vw;
	max-width: 500px;
	min-width: 300px;
	margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #222222;
  border-color: white;
  min-width: 300px;
}

input, textarea, select{
  border-radius: 4px;
  background-color: #222222;
  border: 1px solid #ffffff;
  color: #ffffff;
}
label {
  display: block;
	margin: 0.5rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
	width: 100%;
  min-height: 2em;
}

input[type="checkbox"]{
  width: 20px;
  vertical-align: middle;
  margin: 0em 0.5em 0em 0em;
}
